body {
  font-family: "Abhaya Libre", serif;
  font-size: 18px;
}

h1 {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 50px;
  text-align: center;
}
h2 {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 40px;
}

a {
  color: black;
  text-transform: none;
}

a:hover {
  color: #648586;
}

.watercolor-background {
  background-image: url("../../images/watercolor-background-2000.png");
  background-repeat: no-repeat;
}

.brand-text {
  margin-top: 10%;
}

#brand-statement {
  padding-top: 10%;
  padding-bottom: 5%;
  max-width: 60%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.btn {
  font-family: "moontimeregular", Arial, sans-serif;
  font-size: 38px;
  background: #648586;
  border-radius: 0;
  width: 180px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.coding-languages {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
}

.coding-icons {
  margin-top: 15%;
}

.coding-icons:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* About Me Section */
.portfolio-img-col {
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: 10%;
}

#about-me {
  background: #c5dedf;
  padding-top: 10%;
  padding-bottom: 10%;
}

#about-section-row {
  width: 60%;
  margin: auto;
}
@media only screen and (max-width: 1100px) {
  #about-section-row {
    width: 90%;
    margin: auto;
  }
}

.profile-picture {
  float: left;
}

.clearfix::after {
  clear: both;
}

.curved-icon {
  text-align: center;
  margin-top: 5%;
}

.container {
  margin: auto;
}

.portfolio-container {
  width: 80%;
}

.portfolio-col {
  margin-top: 10%;
  margin-bottom: 10%;
}

.col-xs-4 {
  text-align: center;
}

.col-sm-12 {
  text-align: center;
}

.portfolio-img {
  max-width: 100%;
  margin-bottom: 5%;
  margin-bottom: 5%;
}

.project-img {
  margin: auto;
  text-align: center;
}

.col-sm-3 {
  text-align: center;
  float: left;
}

.clearfix::after {
  clear: both;
}

.row-2 {
  padding-top: 5%;
}

.row-portfolio {
  width: 80%;
  margin: auto;
}
.location-container {
  margin-top: 10%;
}

.location-header {
  margin-bottom: 10%;
}

.location-section {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.location-div {
  margin: 0 auto;
  text-align: center;
}
